@import url("reset.css");

:root {
  --box-color: rgb(73, 73, 73);

}

.main {
  margin: auto;
  margin-top: 2em;
  border: 8px solid var(--box-color);
  min-width: 366px;
  max-width: 400px;
  min-width: 294px;
  background: rosybrown;
}

.box {
  width: 72px;
  height: 72px;
}

#left-column #top-left {
  border-right: 4px solid var(--box-color);
  border-bottom: 4px solid var(--box-color);
  background: royalblue;

}

#left-column #center-top-left {
  border-right: 4px solid var(--box-color);
  border-bottom: 4px solid var(--box-color);
  background: seagreen;
}

#left-column #center-bottom-left {
  border-right: 4px solid var(--box-color);
  border-bottom: 4px solid var(--box-color);
  background: sienna;
}


#bottom-row {
  display: inline;
}

#bottom-row #bottom-left {
  position: relative;
  border-right: 4px solid var(--box-color);
  background: slateblue;
}

#bottom-row #bottom-center-left {
  background: green;
  float: right;
  border-top: 4px solid var(--box-color);
}

#bottom-row #bottom-center-center {
  background: blue;
  float: right;
  position: relative;
  border-top: 4px solid var(--box-color);
}

#bottom-row #bottom-center-right {
  background: orange;
  float: right;
  border-top: 4px solid var(--box-color);
}

#bottom-row #bottom-right {
  background: red;
  float: right;
  margin-bottom: 72px;
  border-top: 4px solid var(--box-color);
}