@import url("reset.css");

:root {
  --box-color: rgb(0, 0, 0);
  --Smellyfacemonkybutt: rgb(193, 173, 201);

}

.main {
  margin: auto;
  margin-top: 10%;
  border: 8px solid var(--box-color);
  max-width: 380px;
  height: auto;
  background: rgba(188, 187, 189);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.box {
  width: 72px;
  height: 72px;
}

#left-column #top-left {
  border-right: 4px solid var(--box-color);
  border-bottom: 4px solid var(--box-color);
  background: rgb(217, 160, 160);
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

#left-column #center-top-left {
  border-right: 4px solid var(--box-color);
  border-bottom: 4px solid var(--box-color);
  background: rgb(204, 157, 116);
  grid-column: 1 / 1;
  grid-row: 2 / 1;
  
}

#left-column #center-bottom-left {
  border-right: 4px solid var(--box-color);
  border-bottom: 4px solid var(--box-color);
  background: rgb(237, 232, 154);
  grid-column: 1 / 1;
  grid-row: 3 / 1;
}




.bottom-row {
  display: gridˀ;
}

.bottom-row #bottom-left {
  background: rgb(162, 189, 153);
  border-right: 4px solid var(--box-color);
  grid-column: 1 / 1;
  grid-row: 4 / 1;
}

.bottom-row #bottom-center-left {
  background: rgb(193, 173, 201);
  grid-column: 2 / 1;
  grid-row: 4 / 1;
}

.bottom-row #bottom-center-center {
  background: rgb(169, 164, 224);
  border-right: 4px solid var(--box-color);
  position: relative;
  
}

.bottom-row #bottom-center-right {
  background: rgb(133, 160, 214);
  border-right: 4px solid var(--box-color);
  position: relative;
}

.bottom-row #bottom-right {
  background: rgb(176, 214, 212);
  border-right: 4px solid var(--box-color);
  padding-inline-start: initial;
  
}